__pycache__
*.pyc
*.pyo
*.py[cod]
.Python
venv
.venv
env
.env
.idea
.vscode
*.swp
*.swo
.git
.gitignore
*.md
*.sample
*.db
*.sqlite3
*.log
docs
.pytest_cache
.mypy_cache
.ruff_cache
dist
build
*.egg-info
